<div class="chat-card storypath {{sheetBackground}}-dice-background">
    {{#ifNotEquals rollData.rollType 'base'}}
        <div class="grid grid-2col" style="text-align:center;">
            <div>
                <div>
                    <img class="borderless-image" src="{{rollingActor.img}}" title="{{rollingActor.name}}" width="64" height="64" />
                </div>
                <div>
                    <b>{{rollingActor.name}}</b>
                </div>
            </div>
            <div>
                <img class="borderless-image black-icon" src="{{rollTypeImgUrl}}" width="64" height="64" />
                <div>
                    <b>{{localize rollTypeLabel}}</b>
                </div>
            </div>
        </div>
    {{/ifNotEquals}}
    <div class="card-buttons">
        <div class="flexrow 1">
            {{{messageContent}}}
        </div>
    </div>
</div>